/* HTML Tags */
h1 {
    margin-bottom: 1.5%;
    color: #fff;
    font-weight: normal;
}
/* HTML IDs */
#action {
    display: flex;
    background-color: goldenrod;
    justify-content: space-around;
}
#action button {
    border: none;
    margin: 5px;
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    font-size: 1em;;
}

/* CSS Klassen */
.choose_event {
    background-color: goldenrod;
    text-align: center;
    padding: 10px;
}

.choose_event input[type="submit"] {
    width: auto;
    padding: 10px;
}

.ok_message {
    text-align: center;
    background: goldenrod;
    color: black;
    font-size: 1em;
}
/* Noch aufräumen */
/* CSS for Calc */
* {
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
    margin: 0;
    -webkit-appearance: none;
}

::placeholder {
    color: rgb(221, 221, 221);
}

.ok_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 19, 19);
    transition: 0.8s all;
}

.ok_wrapper p {
    color: white;
}
.ok_container {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
    text-align: center;
}

textarea {
    padding: 5px;
    font-size: 1.2em;
}

.first-row,
.fifth-row {
    margin-bottom: 30px;
}

.second-row,
.third-row,
.fourth-row,
.sixth-row,
.seventh-row,
.eighth-row,
.ninth-row {
    margin-bottom: 4px;
}

.eighth-row {
    margin-top: 100px;
}

input[type="text"] {
    background-color: rgb(67, 61, 60);
    width: 148.5px;
}

input[type="text"]:read-only {
    border-radius: 5px;
    pointer-events: none;
}

input[type="button"]:hover {
    background-color: rgb(101, 101, 101);
    color: #fff;
}

input[type="submit"] {
    color: #fff;
    background-color: darkgreen;
    padding-inline: 0;
}

input[type="submit"]:hover {
    color: darkgreen;
    background-color: greenyellow;
}

#clear-button {
    color: #fff;
    background-color: rgb(255, 42, 42);
}

#clear-button-c {
    color: #fff;
    background-color: goldenrod;
}

#clear-button:hover {
    color: red;
    background-color: lightcoral;
}

#clear-button-c:hover {
    color: goldenrod;
    background-color: lightyellow;
}

#disablekeybordsupport {
    background: darkgreen;
}

a {
    text-decoration: none;
    color: #fff;
}

.addproduct {
    color: green;
    background-color: lightgreen;
}

.addproduct:hover {
    color: white !important;
    background-color: darkgreen !important;
}

.removeproduct {
    color: red;
    background-color: lightcoral;
}

.removeproduct:hover {
    color: white !important;
    background-color: red !important;
}

.event_info {
    padding: 20px;
    margin-top: 50px;
}

.vendor_info {
    color: white;
    text-align: center;
}